html,body{
	height: 100%;
	padding: 0;
	color: white;
	font-family: "Montserrat";
}
a{
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
a:hover,a:visited{
	text-decoration: none;
}
#header{
	width: 100%;
	margin:0;
	border-radius: 0;
}
.initial-bg-img{
	height: 100%;
	background-image: url("pics/barber.jpg");
	background-size: cover;
}
.navbar-default{
	padding: 0 2%;
	border:none;
}
.navbar-default .navbar-brand{
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
}
.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a{
	color: white;
}
#header.header{
	background-color: white;
	z-index: 5;
	position: fixed;
	box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}
#header.header a{
	color: black;
}
#header.header a:hover{
	color: #9E9E9E;
}
footer{
	color: #838994;
	padding: 3% 10% 0% 20%;
}
footer a{
	color: #00b2e2;
	margin-right: 10%;
}
#policy{
	width: 65%;
}
#social{
	width: 25%;
}
#social img{
	width: 14%;
}
#policy,#social{
	margin: 0;
	display: inline-block;
	vertical-align: top;
}